$black: #484848;
$light-grey: #F4F4F4;
$grey: #7D7D7D;
$blue: #6B78E5;
$white: #FFFFFF;
$green: #40DDB6;
$notification-error: #CC3237;
$notification-warning: #FF9514;
$notification-info: #80B2FF;
$notification-success: #00A300;