.popup {
  border-radius: 24px;
  box-shadow: 0px 13.82115364074707px 13.82115364074707px -6.910576820373535px rgba(16, 24, 40, 0.04), 0px 34.55288314819336px 41.463462829589844px -6.910576820373535px rgba(16, 24, 40, 0.10);
  background-color: $white;
  padding: 64px 41px 32px;
  @include md-block {
    padding: 16px 24px 24px;
    border-radius: 12px;
  }

  .fancybox-close-small {
    right: 37px;
    top: 37px;
    padding: 0;
    width: 62px;
    height: 62px;
    @include md-block {
      width: 32px;
      height: 32px;
      top: 20px;
      right: 20px;
    }

    svg {
      fill: #667085;
      opacity: 1;
      stroke-width: 1;
      stroke: #667085;
    }
  }
}

.popup-thanks {
  &__title {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.72px;
    margin-bottom: 24px;
    margin-top: 24px;
    @include md-block {
      margin-bottom: 16px;
      margin-top: 16px;
      font-size: 24px;
      line-height: 26.4px;
    }
  }
  
  &__subtitle {
    font-size: 24px;
    line-height: normal;
    font-weight: 400;
    margin-bottom: 141px;
    color: $grey;
    @include md-block {
      margin-bottom: 67px;
      font-size: 14px;
    }
  }
  
  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: $grey;
    @include md-block {
      font-size: 12px;
      text-align: left;
    }
  }
  
  &__icon {
    @include md-block {
      max-width: 48px;
    }
  }
}